*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --font-header: Raleway;
    --font-body: Oxygen;

    --header-height: 3rem;
    --body-height: 1.8em;
    /* --color-main-rgb:
    --color-main-hue */
    --color-main-light: #FF99A9;
    --color-main-medium: #FE6975;
    --color-main-dark: #333333;
    --color-neutral-medium:#4A4A4A;
    --color-main-neutral: #969595;
    --color-neutral-light: #C3C3C3;
    --box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

body {
    margin:0;
    font-family: var(--font-body);
    color: var(--color-neutral-medium);
}

a {
    text-decoration: none;
    font-size: 0.8em;
    color: var(--color-main-dark);

}

h1 {
    font-size: 1.2em;
    font-family: var(--font-header);
    color: var(--color-neutral-medium);
}

h2 {
    font-size: 1.1em;
    font-weight: 600;
    font-family: var(--font-header);
    color: var(--color-neutral-medium);

}

h3 {
    font-size: 0.8em;
    color: var(--color-main-neutral);
    font-family: var(--font-header);

}

p {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 0.8em;
}

.form-input {
    border-width: 2px;
    border-color: var(--color-neutral-medium);
    border-style: solid;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    font: inherit;
}

.form-label {
    font-size: 0.8em;
    font-weight: 600;
    color: var(--color-main-dark);
    display: block;
    margin-bottom: 0.5em;
}

#signin-form {
    padding: 1em;
}

.form-controlbtn {
    justify-content: center;
    margin: 1em 0;
    display: flex;
    margin-top: 10%;
    color: var(--color-main-dark);
    font-family: var(--font-body);
    border-radius: 0.25rem;
}

.form-controlbtn a {
    text-decoration: none;

}

.form-control {
    margin-bottom: 1em;
}

/* Sign in page */
.logo {
    justify-content: center;
    margin: 1em 0;
    display: flex;
}

.warning {
    display: none;
}
/* GENERAL */

svg {
	width: calc(68px * 3);
	height: calc(66px * 3);
}

/* ELEMENTS POSITIONS */
#building_bottom,
#window_01,
#window_02,
#door {
	transform: translateY(20px);
	z-index: 1;
}

#building_top,
#balcony_01,
#balcony_02,
#balcony_03,
#balcony_04,
#balcony_05,
#balcony_06 {
	transform: translateY(56px);
	z-index: -1;
}

#small_tree,
#big_tree {
	transform: translateY(28px);
}

/* ELEMENTS ANIMATIONS */
#building_bottom {
	animation: buildingBottom 1s ease-out forwards;
}

#window_01,
#window_02,
#door {
	animation: buildingBottom 1s 0.1s ease-in forwards;
}

#building_top {
	animation: buildingTop 1s 1.2s ease-out forwards;
}

#balcony_01,
#balcony_02,
#balcony_03 {
	animation: buildingTop 1s 1.4s ease-out forwards;
}

#balcony_04,
#balcony_05,
#balcony_06 {
	animation: buildingTop 1s 1.6s ease-out forwards;
}

#small_tree,
#big_tree {
	animation: trees 1s 2s ease-out forwards;
}

#cloud_left {
	transform: translateX(-11px);
	animation: cloudLeft 20s 2s linear infinite;
}

#cloud_right {
	transform: translateX(72px);
	animation: cloudRight 15s 2s linear infinite;
}

/* ANIMATIONS */
@keyframes buildingBottom {
	0% 		{ transform: translateY(20px) }
	100% 	{ transform: translateY(0) }
}

@keyframes buildingTop {
	0% 		{ transform: translateY(56px); }
	100% 	{ transform: translateY(0); }
}

@keyframes trees {
	0% 		{ transform: translateY(28px); }
	100% 	{ transform: translateY(0); }
}

@keyframes cloudLeft {
		0% 		{ transform: translateX(-11px); }
	100% 		{ transform: translateX(100px); }
}

@keyframes cloudRight {
		0% 		{ transform: translateX(72px); }
	100% 		{ transform: translateX(-100px); }
}

/* Onboarding */

.next {
    justify-content: center;
    margin: 1em 0;
    display: flex;
}

.onboardingimg {
    display: flex;
    justify-content: center;
    margin: 30% 5% 5% 5%;
}

.onboardingd {
    margin: 12% 5%;
    text-align: -webkit-center;
}

.shape1 {
    position: absolute;
    top: 15%;
    left: 10%;
    animation: rotating 5s ease-in-out infinite;
}

.shape2 {
    position: absolute;
    z-index: 2;
    top: 45%;
    right: 8%;
    animation: float 3s ease-out infinite;
}

.shape3 {
    position: absolute;
    top: 53%;
    left: 14%;
    animation: rotating 8s ease-in-out infinite;
}

.shape4 {
    position: absolute;
    z-index: 2;
    top: 11%;
    right: 8%;
    animation: float 3s ease-out infinite;
}

.shape5 {
    position: absolute;
    top: 33%;
    right: 13%;
    animation: bounce 2s ease-in-out infinite;
}

.shape6 {
    position: absolute;
    z-index: 2;
    top: 11%;
    left: 10%;
    animation: float 3s ease-out infinite;
}
/* Animation */
  
  @keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes bounce {
    20%,50%,80%,to {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    70% {
        transform: translateY(-15px);
    }
    90% {
        transform: translateY(-4px);
    }
}




/* Sign up form */

#signup-form {
    padding: 1em;
    
}

/* App Structure */

.ui-loader {
    display:none
}

[data-role="page"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

[data-role="page"].ui-page-active {
    display: flex;
    flex-direction: column;
}

[data-role="main"] {
    flex: 1 1 100%;
    /* position: relative; */
    z-index: 1;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

[data-role="header"],
[data-role="footer"] {
    line-height: var(--header-height);
    position: relative;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(61, 61, 61, 0.02) 0px 3px 4px 0px;
    background-color: white;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    z-index: 2;
}

.nav li {
    padding-top: 5%;
    flex: 1 1 auto;
    text-align: center;

}

.nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    width:100%;
    position:relative;
}

/* .navactive {
    border-top:2px solid var(--color-main-medium);
} */

.flex-stretch { flex: 1 1 auto; }

.nav_back {
    z-index: 10;
    position: fixed;
    top: 2%;
    left: 5%;

}

.form-button {
    border-radius: 8px;
    font-family: var(--font-body);
    font-size: 1em;
    color: var(--color-main-dark);
    background-color: var(--color-main-light);
}

.form-control-logout {
    justify-content: center;
    margin: 1em 0;
    display: flex;
    margin-top: 3em;
}

/* Core Navigation */
[data-role="header"] ul,
[data-role="footer"] ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    width:100%;
    position:relative;
    padding-bottom: 5%;
}
[data-role="footer"] li {
    flex: 1 1 auto;
    text-align: center;
}
[data-role="header"] {
    padding: 0% 5%;

}


/* .active {
    filter: invert(47%) sepia(68%) saturate(1180%) hue-rotate(320deg) brightness(109%) contrast(100%);
  } */




.locate {
    position: absolute;
    border-radius: 8px;
    top: 82%;
    left: 42%;
    object-fit: cover;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}


/* Body Layout */

.main {
    padding: 0 5% 0 5%;
    height: 100%;
}

.center {
    justify-content: center;
    margin-top: 2%;
}


/* My Pins */

.houselist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
    row-gap: 1%;

}
#pin-page {
    background-color: #fff1f3;
}
.pin-item {
    font-family: var(--font-body);
    font-weight: 700;
    font-size: 1.1em;
    color: var(--color-main-dark);
    box-shadow: var(--box-shadow);
    margin: 5% 0 5% 0;
    background-color: white;
    border-radius: 10px;
}

.content-container {
    display: grid;
    row-gap: 1%;
    column-gap: 1%;
    grid-template-rows: 1fr min-content;
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 10px;
}

.content_img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    vertical-align: text-bottom;
    border-radius: 10px 10px 0 0;
}

.content_title {
    padding: 0 3%;
}
.content_title h3 {
    margin-top: -10px;
}



/* House profile page */
.edit {
    display: flex;
    justify-content: center;
    z-index: 9;
    position: fixed;
    top: 2%;
    right: 8%;
}
.item-img {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
.item-img img {
    max-height: 30vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

/* User Profile */

.profile img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3%;
}

.profile h3 {
    font-size: 1em;

}

#form-logout {
    padding: 1em;
}




.btn {
    display: flex;
    justify-content: center;
    padding: 3% 7%;
    background-color: var(--color-main-medium);
    margin: 5% 40%;
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 10px;
    color: white;
}

.btn a {
    color: white;
}

.signin {
    margin: 2% 0; 
}

/* Map page */

.icon {
    top: 54%;
    position: absolute;
    right: 28%;
}



.map {
    /* background-image: url(../../img/map01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    width: 100%;
    height: 100%;
}

.pin {
    width: 100vw;
    height: 90vh;
    /* position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.popup {
    visibility: hidden;
    width: 160px;
    background-color: var(--color-main-medium);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 78%;
    left: -12%;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

@-webkit-keyframes fadeIn {
from {opacity: 0;} 
to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}  



/* Button */
input [type="submit"]{
    color: var(--color-main-dark);
    appearance: none;



}

.button-6 {
    color: var(--color-main-dark);
    text-align: center;
    align-items: center;
    background-color: #ffe6e4;
    border: none;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-body);
    font-size: 1.1em;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 60px;
    padding: calc(0.875rem - 3px) calc(1.5rem - -21px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 92vw;
    appearance: value;

}


.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


.button_small {
  background-color: #FFFFFF;
  border: 1px solid var(--color-main-neutral);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--color-main-neutral);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 2% 50%;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.floater { 
    position:fixed;
    z-index: 4;
 }
.floater.top { top: 80%; }
.floater.right { right: 1rem; }
.floater.bottom { bottom: 1rem; }
.floater.left { left: 44%; }

.btn-circle {
    border-radius: 2rem;
    line-height: 3rem;
    font-size:2.5em;
    width: 3rem;
    height: 3rem;
    display: block;
    box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.2);
}

.description {
    padding: 5%;
}


/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
    z-index: 10;
}
.modal.active {
    opacity: 1;
    pointer-events: initial;
}



.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.modal-back.transparent {
    background-color: transparent;
}



.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 3em));
    width: 80vw;
    max-height: 60vh;
    display:flex;
    flex-direction: column;
    border-radius: 0.3em;
    overflow:hidden;
    transition: all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%, -50%);
}


.modal-drawer {
    position: absolute;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 12px 28px 0px, rgba(0, 0, 0, 0.1) 10px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    bottom: 0;
}

.modal-drawer.right,
.modal-drawer.left {
    height: 60vh;
    width: 100vw;
}
.modal-drawer.right { right: 0; transform: translateY(-50%); }
.modal-drawer.left { left: 0; transform: translateY(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
    height: 40vh;
    width: 100%;
}
.modal-drawer.top { top: 0; transform: translateY(100%); }
.modal-drawer.bottom { bottom: 0; transform: translateY(-100%); }
.modal.active .modal-drawer {
    transform: translate(0);
}




.modal-head,
.modal-foot {
    background-color: white;
    padding: 0.1em 1em;
    display: flex;
    justify-content: center;
    font-size: 1em;
}
.modal-body {
    background-color: white;
    padding: 1em;
    flex: 1 1 100%;
    overflow: auto;
}


.addapin_input {
    margin: 1% 0 5% 0 ;
}


/* Edit Page */
.edit_img {
    display: grid;
    grid-column: span 12;
    margin: 0% 5%;
    row-gap: 4%;
    column-gap: 4%;
}

.one {
    display: flex;
    justify-content: center;
}

.edit_text {
    padding: 5%;
    margin-top: 10%;
}


textarea {
    width: 80vw;
    min-height: 40vh;
    padding: 1%;
    font-family: var(--font-body);
    color: #333333;
    font-size: 0.8em;
}

.edit_type {
    margin: 5%;
    padding-top: 5%;
}

.edit_floor {
    margin: 5%;
    padding-top: 5%;
}

.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    margin-left: -100px;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: var(--color-neutral-medium);
    background-color: #bce3b1;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    top: 8%;
    font-size: 0.8em;
    font-weight: 600;

}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* account */

#user-profile-page {
    background-color: #fff1f3;
}
.ugh {
    display: grid;
    margin: 0% 5%;
    row-gap: 1%;
    column-gap: 4%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    background-color: white;
    border-radius: 15px;
}

.card {
    color: var(--color-neutral-medium);
    padding: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card h1 {
    color: var(--color-main-dark);
}

.card p {
    color: var(--color-main-neutral);
    margin-top: -2%;
}

.flip {
    color: var(--color-neutral-medium);
    background-color: white;
    padding: 0 5%;
    margin: 5%;
    border-radius: 10px;
}


.panel {
    display: flex;
    margin: -6% 5%;
    background-color: white;
}